# Ignore virtual environments
myenv/
env/

# Ignore Python cache and build files
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore large binaries and data
*.dll
*.exe
*.zip
*.tar.gz
*.parquet
# *.pkl
*.h5
*.log
*.csv

# IDE & system files
.vscode/
.DS_Store
Thumbs.db
